body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
}

.navbar {
    background-color: #333;
}

.navbar a {
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

form {
    text-align: left;
}

form .form-group {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 0.5em; /* Add some spacing between form groups */
}

form .form-check-label {
    font-size: 1.5em;
    margin-left: 0.5em;
}

form button {
    font-size: 1.5em;
    margin-top: 1em;
    margin-left: 0.5em;
}

/* Increase the size of checkboxes */
input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 0.5em;
    vertical-align: middle;
}
